@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #FAFAFA;
    --primary-color: #484B6A;
    --secondary-color: #9394A5;
    --input-color: #484B6A;
    --faded-color: #E4E5F1;
    --health-color: #484B6A;
    --health-background-color: #E4E5F1;
    --pause-screen-background-color: rgba(147, 148, 165, 0.9);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

header {
    display: flex;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 30px;
}

.word {
    color: var(--faded-color);
    font-weight: bold;
    position: absolute;
    font-size: 1.5rem;
    z-index: -2;
}

.typed-word {
    color: var(--input-color);
    position: absolute;
    left: 0;
}

#title {
    color: var(--primary-color);
}

.event-button {
    color: var(--secondary-color);
}

.event-button:hover {
    color: var(--primary-color);
    cursor: pointer;
}

#player-stats {
    color: var(--primary-color);
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    list-style: none;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#playfield {
    background-color: var(--secondary-color);
    height: 100vh;
    /* width: 53.42vw; */
    width: 62.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#player-health {
    background-color: var(--health-background-color);
    position: absolute;
    bottom: 0;
    right: -25px;
    height: 500px;
    width: 25px;
}

#health-bar {
    background-color: var(--health-color);
    position: absolute;
    bottom: 0;
    width: inherit;
    transition: height 1s ease-in-out;
}

#judgement-base {
    background-color: var(--input-color);
    position: absolute;
    bottom: 101px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 50rem;
    z-index: -1;
}

#text-display {
    color: var(--input-color);
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    height: 30px;
    width: fit-content;
    z-index: -1;
}

#caret {
    position: absolute;
}

#commands {
    color: var(--secondary-color);
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 30px;
    list-style: none;
}

#pause-screen {
    /* rgba(72, 75, 106, 0.9); */
    background: var(--pause-screen-background-color);
    color: var(--background-color);
    width: 50%;
    z-index: 999;
    font-size: 2.5rem;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#pause-screen > div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blinking {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--input-color);
    }
}
